.article-editor-h1 {
  font-size: 3.25rem;
}
.article-editor-h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.article-editor-underline {
  text-decoration: underline;
}
.article-editor-italic {
  font-style: italic;
}

